.container {
    width: 90%;
    height: 60vh;
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.kotak {
    height: 150px;
    width: 150px;
    background: linear-gradient(to left, gray, skyblue);
    text-align: center;
    line-height: 150px;
}

@media (max-width:480px ) {
    .container {
        flex-direction: column;
        gap: 5px;
        height: auto;
    }
}
